.projectPageContent {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.projectPageContent :global(.MuiMasonry-root) {
  margin: 0 !important;
  width: 100% !important;
}

.projectPageContent .projectItem {
  border: 2px solid var(--margin-color);
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projectPageContent .projectItem .projectImageLink {
  display: block;
}

.projectPageContent .projectItem .projectImageLink img {
  width: 100%;
  height: auto;
}

.projectPageContent .projectItem h2 {
  font-family: var(--font-mono);
  font-size: var(--text-primary);
  font-weight: var(--text-label-weight);
  letter-spacing: var(--text-label-spacing);
  text-transform: uppercase;
  opacity: var(--text-label-opacity);
}

.projectPageContent .projectItem p {
  font-size: var(--text-primary);
  opacity: var(--text-primary-opacity);
  text-indent: 1.5rem;
}

.projectPageContent .projectItem .projectMeta {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.projectPageContent .projectItem .projectMeta li {
  font-size: var(--text-primary);
  font-weight: var(--text-secondary-weight);
  opacity: var(--text-primary-opacity);
}

.projectPageContent .projectItem .projectMeta li::before {
  content: "→ ";
}

.projectPageContent .projectItem .projectTechStack {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
}

.projectPageContent .projectItem .projectTechStack li img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
}

.projectPageContent .projectItem .projectLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.projectPageContent .projectItem .projectLinks .projectCodeLink {
  font-family: var(--font-mono);
  font-size: var(--text-subheading);
  font-weight: var(--text-label-weight);
  letter-spacing: var(--text-label-spacing);
  text-transform: uppercase;
  opacity: var(--text-label-opacity);
  text-decoration: none;
  border: 1px solid var(--opposite);
  color: var(--opposite);
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projectPageContent .projectItem .projectLinks .projectDemoLink {
  font-family: var(--font-mono);
  font-size: var(--text-subheading);
  font-weight: var(--text-label-weight);
  letter-spacing: var(--text-label-spacing);
  text-transform: uppercase;
  opacity: var(--text-label-opacity);
  text-decoration: none;
  background-color: var(--opposite);
  color: var(--pure);
  border: 1px solid var(--opposite);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projectPageContent .projectItem .projectLinks .projectCodeLink:hover,
.projectPageContent .projectItem .projectLinks .projectDemoLink:hover {
  transform: scale(1.05);
}
